body {
  font-family: "KoHo", sans-serif;
}

.main-container {
  max-width: 1240px;
  margin: auto;
  /* position: relative; */
}

/* MENU HEADER START */
/* ----------iškelta į kitą failą: pers-NAVIGATION.css */
/* MENU HEADER END */

/* TOP-baner - START */
/*------------------------- pvz. iš dev.to */
/* The container box is relative so we can position stuff inside of it */
.top-banner {
  position: relative;
}

/*The background and overlay need to be absolutely positioned */
.top-banner__background,
.top-banner__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* 
The background image div sizes and positions the background itself.
It's also at the bottom-most position in our "div stack" (z-index 1)

We set the image url via a CSS custom property, that's set via the style attribute in our HTML
*/
.top-banner__background {
  background: url(../img/egles-saka_landscape_light.jpg) center center no-repeat;
  background-size: cover;
  z-index: 1;
}

/* The overlay div is just a colored element with some opacity.
It's above the background image in our stack, so it appears to 
darken the image 
*/
.top-banner__overlay {
  background: rgba(13, 20, 13, 0.8);
  z-index: 2;
}

/* 
The content div is at the top of our stack. 
We'd probably add some padding or flexbox properties here as well, 
to place the content appropriately
*/
.top-banner__content {
  text-align: center;
  position: relative;
  z-index: 3;

  /* Finally, style and place the content */
  color: white;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: block;
}

.content h1 {
  letter-spacing: 3px;
}

.content a {
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: 700;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.top-banner-button {
  margin-top: 50px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.content a:hover {
  color: white;
  background: none;
  border: 1px solid white;
}
/* TOP-baner - END */

/*--------------top-category-widget-box START  */
.top-category-widget-box {
  min-height: 450px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.widget-card {
  margin-top: 15px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 222px;
}

.card-image {
  width: 300px;
  height: 222px;
  z-index: 1;
  background-position: center;
}

.card-image-1 {
  background-image: url(../img/social.jpg);
}

.card-image-2 {
  background-image: url(../img/politics.jpg);
}

.card-image-3 {
  background-image: url(../img/food.jpg);
}

.widget-card__overlay {
  background: black;
  position: absolute;
  height: 85%;
  width: 85%;
  margin: 7%;
  opacity: 60%;
  z-index: 2;
}
.widget-card:hover > .widget-card__overlay {
  background: #8490ff;
}

.text-on__widget-card {
  color: white;
  position: absolute;
  text-align: center;
  z-index: 3;
  width: 80%;
}

.text-on__widget-card h3 {
  text-transform: uppercase;
}

.text-on__widget-card a {
  color: white;
  text-decoration: none;
}
