body {
    font-family: 'KoHo', sans-serif;
}
.main-container {
  max-width: 1240px;
  margin: auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:999;

}

.menu-list ul {
  display: flex;
}

.menu-list ul li {
  list-style: none;
  padding-right: 30px;
  padding-bottom: 5px;
}

.section-1 {
  background-color: rgb(199, 230, 212);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-card__text-box {
  width: 60%;
}

.section-card__img-box {
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 20px;
  background-color: rgb(64, 98, 30);
  border-style: none;
  font-weight: 700;
}

.button a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 575.98px)  {
  .section-1 {
    padding: 8px;
  }
  .section-card__text-box {
    width: 100%;
    }
  .section-card__img-box img {
    width: 100%;
    }
  .menu-list ul {
    display: block;
  }
}