body {
  background-color: #fafaff;
  font-family: "KoHo", sans-serif;
}

.main-container {
  max-width: 1240px;
  margin: auto;
  /* position: relative; */
}

/* MENU HEADER START */
/* ----------iškelta į kitą failą: pers-NAVIGATION.css */
/* MENU HEADER END */

/* TOP-baner - START */
/*------------------------- pvz. iš dev.to */
/* The container box is relative so we can position stuff inside of it */
.top-banner {
  position: relative;
}

/*The background and overlay need to be absolutely positioned */
.top-banner__background,
.top-banner__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* 
The background image div sizes and positions the background itself.
It's also at the bottom-most position in our "div stack" (z-index 1)

We set the image url via a CSS custom property, that's set via the style attribute in our HTML
*/
.top-banner__background {
  background: url(../img/egles-saka_landscape_light.jpg) center center no-repeat;
  background-size: cover;
  z-index: 1;
}

/* The overlay div is just a colored element with some opacity.
It's above the background image in our stack, so it appears to 
darken the image 
*/
.top-banner__overlay {
  background: rgba(13, 20, 13, 0.8);
  z-index: 2;
}

/* 
The content div is at the top of our stack. 
We'd probably add some padding or flexbox properties here as well, 
to place the content appropriately
*/
.top-banner__content {
  text-align: center;
  position: relative;
  z-index: 3;

  /* Finally, style and place the content */
  color: white;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: block;
}

.content h1 {
  letter-spacing: 3px;
}

.content a {
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: 700;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.top-banner-button {
  margin-top: 50px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.content a:hover {
  color: white;
  background: none;
  border: 1px solid white;
}
/* TOP-baner - END */

/*-----START----top-category-widget-box   */
.top-category-widget-box {
  max-height: 450px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.widget-card {
  margin-top: 15px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 222px;
}

.card-image {
  width: 300px;
  height: 222px;
  z-index: 1;
  background-position: center;
}

.card-image-1 {
  background-image: url(../img/social.jpg);
}

.card-image-2 {
  background-image: url(../img/politics.jpg);
}

.card-image-3 {
  background-image: url(../img/food.jpg);
}

.widget-card__overlay {
  background: black;
  position: absolute;
  height: 85%;
  width: 85%;
  margin: 7%;
  opacity: 60%;
  z-index: 2;
}
.widget-card:hover > .widget-card__overlay {
  background: rgb(115, 173, 58);
}

.text-on__widget-card {
  color: white;
  position: absolute;
  text-align: center;
  z-index: 3;
  width: 80%;
}

.text-on__widget-card h3 {
  text-transform: uppercase;
}

.text-on__widget-card a {
  color: white;
  text-decoration: none;
}
/*------top-category-widget-box END  */

/* ---START post-content-area---------- */
.post-content-area, .single-post-row {
  display:flex;
}

.single-post-row {
  display:inline-flex;
  box-sizing: border-box;
  margin-bottom: 50px;
  max-width: 70%;
}

.post-info-column {
  min-width: 25%;
}

.post-content-column {
  padding-left: 15px;
  padding-right: 15px;
}

.tags{
  display: inline-block;
  list-style: none;
}

.tags a {
  text-decoration: none;
  color: black;
}

.tags li {
  display: inline;
}

.user-details {
  text-align: right;
}

.post-content-column a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700; 
}

.feature-img img {
  object-fit: scale-down;
}

.post-title-button {
  display:inline-block;
  width: auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
}

.post-title-button:hover {
  background-color: rgb(115, 173, 58);
}

.post-title-button:hover a {
  color: white;
}

.search-widget {
  display:flex;
  flex-wrap: nowrap;
  /* box-sizing: border-box; */
}

.sidebar-widgets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  padding: 15px;  
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.5);
}

.single-sidebar-widget {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-bottom-color: rgba(128, 128, 128, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-widget button {
  background-color: rgb(125, 184, 66);
  border: none;
  text-decoration: none;
  color:white;
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.search-widget input {
  background-color: rgb(125, 184, 66);
  padding: 10px;
  width:90%;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-family: "KoHo", sans-serif; 
  font-size: larger; 
}

::placeholder {
  color: white;
  letter-spacing: 1px;
} 

.search-widget input[type=text] {
  color: white;
  letter-spacing: 1px;
}

.user-info-widget {
display: flex;
flex-direction: column;
align-items: center;
}

.user-info-widget img {
  border-radius: 100%;
}

.user-info-widget li {
  display: inline;
  align-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.user-info-widget a {
  text-decoration: none;
  color:black;
  text-align: center;
}

.user-info-widget h4 p {
  margin-left: 0;
  margin-right: 5px;
}

.social-links  {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style-type: none;
  padding-inline-start: 0px;
}

/* .social-links ul {
  margin: 0;
} */






/* ---post-content-area----END------ */