body {
  font-family: "KoHo", sans-serif;
}

.main-container {
  max-width: 1240px;
  margin: auto;
  /* position: relative; */
}

/* MENU HEADER START */
/* ----------iškelta į kitą failą: pers-NAVIGATION.css */
/* MENU HEADER END */

.section-1 {
  background-color: rgb(199, 230, 212);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-2 {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-card__text-box {
  width: 55%;
  margin-right: 1%;
  margin-left: 1%;
}

.section-card__img-box {
  display: flex;
  justify-content: center;
  margin-right: 1%;
  margin-left: 1%;
  filter: grayscale(100%);
}

.section-card__img-box:hover {
  filter: none;
}

.section-button {
  margin-bottom: 20px;
  border-style: none;
  font-weight: 700;
}

.section-button a {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(64, 98, 30);
}

.section-button a:hover {
  background: rgb(125, 184, 66);
}

.cards {
  max-width: 860px;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  padding: 15 px;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  justify-content: space-between;
  align-content: center;
}

.box-wrapper-header {
  margin: auto;
  align-content: center;
  text-align: center;
  padding-bottom: 30px;
}

.box {
  max-width: 33%;
  color: black;
  background-color: white;
  /* margin-right:2.5px;
  margin-left: 2.5px; */
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.box a {
  color: black;
  text-decoration: none;
}

.box-link:hover {
  color: rgb(125, 184, 66);
}

/* EIMANTO PAGALBA */

.box-img-color {
  display: none;
}

.box:hover .box-img {
  display: none;
}

.box:hover .box-img-color {
  display: inline;
}
/* EIMANTO PAGALBA - END */

.box:hover > .box-link {
  color: rgb(125, 184, 66);
}


